/* SkeletonLoader.css */
.skeleton-loader {
  background-color: #f0f0f0; /* Set the background color of the skeleton */
  border-radius: 8px; /* Set the border radius to match your card */
  height: 260px; /* Set the height to match the image height */
  width: 169px; /* Set the width to match the image width */
  margin-bottom: 15px; /* Add margin to separate skeletons */

  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.skeleton-loader {
  flex: 1;
  min-width: 150px;
  height: 260px;
  position: relative;
}

.skeleton-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCl7fbQzeh0IE1m-nVxF0g_6N15wgE08BxA7zeQg9ydPaXn0YPtw_jUftJeHZdYgGssDI&usqp=CAU");
  background-size: 200% 100%;
  border-radius: 8px;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}

.skeleton-loader2 {
  background-color: #c7c2c2; /* Set the background color of the skeleton */
  width: 290px;
  height: 200px;
  border-radius: 5px;
  animation: shimmer 1.5s infinite linear;

  position: relative;
}

.skeleton-loader2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCl7fbQzeh0IE1m-nVxF0g_6N15wgE08BxA7zeQg9ydPaXn0YPtw_jUftJeHZdYgGssDI&usqp=CAU");
  background-size: 200% 100%;
  border-radius: 8px;
  animation: shimmer 1.5s infinite linear;
}
