.movies_container {
  padding: 40px 60px;
}

.movie_end {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.dr {
  width: 200px;
  border-radius: 10px;
  z-index: 1;
}

.moviekit_card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  cursor: pointer;
}

.movie_sub_card {
  padding: 5px;
  border: 1px solid #f5f3f3;
}
.movie_sub_image {
  position: relative;
}
.movie_sub_image img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
