.movies_container {
  padding: 40px 60px;
  color: #ffff;
  background: linear-gradient(
    180deg,
    rgba(4, 21, 45, 0) -650%,
    rgb(1, 12, 20) 90.17%
  );

  /* background: linear-gradient(280deg, rgba(1, 18, 43, 0) 0%, #01122b 79.17%); */

  height: auto;
}

.desire2 {
  color: #ddd;
  width: fit-content;
  border-bottom: 1px solid #ddd;
  font-size: 25px;
  text-transform: capitalize;
}

.movie_end {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

.my-dropdown-menu {
  width: 240px;
  border-radius: 10px;
  /* background-color: #007bff; */
  color: #fff;
  background-color: #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  /* background-color: ; */
  z-index: 1;
}

.my-dropdown-control {
  width: 240px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(4, 21, 45, 0);
}

.movie_kit {
  text-transform: capitalize;
  color: #ddd;
}

.moviekit_card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 13px;
  cursor: pointer;
}

.movie_sub_card {
  padding: 5px;
  /* border: 1px solid #333; */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.movie_sub_image {
  position: relative;
}
.movie_sub_image img {
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 60vh;
  object-fit: cover;
}

.active {
  /* width: 50px; */
}

.content_title {
  font-size: 16px;
}



.pagination {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 0;
  /* overflow: scroll; */
  width: 100%;
  margin-top: 30px;
}

.pagination li {
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  
}

.pagination li a {
  padding: 10px;
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  border: 1px solid #575454;
  border-radius: 3px;
}

.pagination li.active a {
  background: linear-gradient(to right, #f5af19, #f12711);
  color: #fff;
}

.pagination li:hover a {
  background-color: #007bff;
}

@media screen and (max-width: 1143px) {
  .movies_container {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 967px) {
  .moviekit_card {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 785px) {
  .moviekit_card {
    grid-template-columns: repeat(3, 1fr);
  }
  .desire2 {
    font-size: 20px;
  }
  .my-dropdown-control {
    font-size: 15px;
  }
}

@media screen and (max-width: 635px) {
  .movie_sub_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (max-width: 587px) {
  .moviekit_card {
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination ul {
  }
  .pagination {
  }
}
@media screen and (max-width: 488px) {
  .movie_end {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .pagination li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 378px) {
  .pagination {
    justify-content: center;
  }
  .pagination li a {
    font-size: 12px;
  }
}
