.movies_container {
  padding: 40px 60px;
  height: auto;
}

.movie_end {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.dr {
  width: 200px;
  border-radius: 10px;
  z-index: 1;
}

.moviekit_card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  cursor: pointer;
}

.movie_sub_card {
  padding: 5px;
  border: 1px solid #f5f3f3;
}
.movie_sub_image {
  position: relative;
}
.movie_sub_image img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.active {
  /* width: 50px; */
}

.pagination {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 0;
  /* justify-content: space-around; */
  margin-top: 50px;
  /* width: 100%; */

  li {
    margin: 0 5px;
    display: inline-block;
    display: flex;
    cursor: pointer;

    a {
      padding: 10px;
      text-decoration: none;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    &.active a {
      background-color: #007bff;
      color: #fff;
    }

    &:hover a {
      background-color: #ddd;
    }
  }
}
