* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: ;
  --background-color: rgba(3, 37, 65);
  --main-padding: 0px 60px;
}
